In [1]:
import pandas as pd
import datetime

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data.

file_dir = 'C:/Users/mrsme/Data Analysis Boot Camp/Challenges/bikesharing'
citibike_data = pd.read_csv(f'{file_dir}/201908-citibike-tripdata.csv', low_memory=False)
citibike_df = pd.DataFrame(citibike_data)
citibike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [3]:
# 2. Check the datatypes of your columns.
citibike_df['tripduration_seconds'] = citibike_df['tripduration']

citibike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
tripduration_seconds         int64
dtype: object

In [4]:
# 3. Convert the 'tripduration' column to datetime datatype.
citibike_df['tripduration'] = pd.to_datetime(citibike_df['tripduration'], unit='s')
citibike_df.sample(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration_seconds
1561680,1970-01-01 00:18:21,2019-08-21 11:21:43.8780,2019-08-21 11:40:05.0260,3398.0,Smith St & 9 St,40.674696,-73.997858,3804.0,Front St & Jay St,40.702461,-73.986842,29715,Subscriber,1972,2,1101
564292,1970-01-01 00:15:30,2019-08-08 13:48:06.0290,2019-08-08 14:03:36.8650,3319.0,14 St & 5 Ave,40.666287,-73.988951,3354.0,3 St & Prospect Park West,40.668132,-73.973638,20954,Customer,1961,2,930
2114485,1970-01-01 00:02:08,2019-08-28 20:44:47.6890,2019-08-28 20:46:56.0120,3108.0,Nassau Ave & Russell St,40.725570,-73.944340,3100.0,Nassau Ave & Newell St,40.724813,-73.947526,39229,Subscriber,1968,2,128
1632432,1970-01-01 00:09:37,2019-08-22 10:42:28.2740,2019-08-22 10:52:05.5600,448.0,W 37 St & 10 Ave,40.756604,-73.997901,470.0,W 20 St & 8 Ave,40.743453,-74.000040,33224,Customer,1999,1,577
1823238,1970-01-01 00:52:17,2019-08-25 02:12:10.4780,2019-08-25 03:04:27.5410,3110.0,Meserole Ave & Manhattan Ave,40.727086,-73.952991,3569.0,Franklin Ave & St Marks Ave,40.675832,-73.956168,39564,Customer,1990,1,3137

In [5]:
# 4. Check the datatypes of your columns. 
citibike_df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
tripduration_seconds                int64
dtype: object

In [6]:
# 5. Export the Dataframe as a new CSV file without the index.
# Create the output file (CSV).
output_data_file = "201908-citibike-tripdata_cleaned.csv"
# Export the city_data into a CSV.
citibike_df.to_csv(output_data_file, index=False)