In [1]:
import pandas as pd
import datetime

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data.

file_dir = 'C:/Users/mrsme/Data Analysis Boot Camp/Challenges/bikesharing'
citibike_data = pd.read_csv(f'{file_dir}/201908-citibike-tripdata.csv', low_memory=False)
citibike_df = pd.DataFrame(citibike_data)
citibike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [3]:
# 2. Check the datatypes of your columns. 
citibike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [5]:
# 3. Convert the 'tripduration' column to datetime datatype.
citibike_df['tripduration'] = pd.to_datetime(citibike_df['tripduration'], unit='s')
citibike_df.sample(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
219038,1970-01-01 00:26:41,2019-08-03 16:25:09.5440,2019-08-03 16:51:51.2140,499.0,Broadway & W 60 St,40.769155,-73.981918,3136.0,5 Ave & E 63 St,40.766368,-73.971518,31294,Customer,1990,2
2138530,1970-01-01 00:32:08,2019-08-29 09:27:16.2340,2019-08-29 09:59:24.9320,341.0,Stanton St & Mangin St,40.717821,-73.976289,295.0,Pike St & E Broadway,40.714067,-73.992939,24912,Subscriber,1965,2
154195,1970-01-01 01:37:21,2019-08-02 18:57:23.2380,2019-08-02 20:34:44.5530,465.0,Broadway & W 41 St,40.755136,-73.986580,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,30180,Customer,1969,0
1498614,1970-01-01 00:25:37,2019-08-20 16:36:08.3540,2019-08-20 17:01:46.2140,3787.0,Dock 72 Way & Market St,40.699850,-73.971410,3783.0,Cliff St & Fulton St,40.708380,-74.004950,33075,Subscriber,1975,1
133358,1970-01-01 00:25:11,2019-08-02 16:02:48.3910,2019-08-02 16:28:00.3170,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,3150.0,E 85 St & York Ave,40.775369,-73.948034,26392,Subscriber,1990,1

In [6]:
# 4. Check the datatypes of your columns. 
citibike_df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [9]:
# 5. Export the Dataframe as a new CSV file without the index.
# Create the output file (CSV).
output_data_file = "201908-citibike-tripdata_cleaned.csv"
# Export the city_data into a CSV.
citibike_df.to_csv(output_data_file, index=False)